* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    height: 70px;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    list-style: none;
    display: flex;
    margin-right: 30px;
    align-items: center;
}

.navigation li {
    flex-direction: row;
    text-decoration: none;
}

li a {
    text-decoration: none;
    color: white;
    font-style: poppins;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    margin: 5px;
    border: 2px solid transparent;
}

li a:hover {
    border: solid red 2px;
    color: rgb(188, 231, 120);
}

.image-sec {
    background-image: url('../images/port.jpg');
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: auto;
    overflow: hidden;
    position: relative;
    filter: blur(5px);
}

.description {
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
    color: white;
    width: 40%;
    font-weight: bold;
    padding: 10px;
    border: 10px inset rgba(88, 166, 230, 0.466);
    border-bottom-left-radius: 50px;
    border-top-right-radius: 80px;
    box-shadow: 5px 5px rgb(65, 76, 112), 10px 10px rgba(168, 141, 230, 0.11), 15px 15px rgb(208, 216, 208);
}

.description p,
h3 {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.desc-name {
    font-size: 8rem;
    background: url('../images/star.jpg');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.occupation {
    font-size: 3rem;
    background: url('../images/logo.png');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}